/* App.css */

.image-container {
  display: grid;
  grid-template-columns: 1fr; /* Default to one column */
  gap: 20px; /* Gap between items */
  padding: 10px;
}

.image-wrapper {
  width: 100%;
  margin: 10px 0;
  text-align: left; /* Center-align text */
  background-color: #dfd8d8;
}

.image-overlay-container {
  position: relative; /* To position the overlay correctly */
  width: 100%;
}

.image {
  width: 100%; /* Make image take up 100% of the parent container's width */
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.774); /* Dark shade overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 44px;
  text-align: center;
}

.image-heading, .image-description {
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  background-color: rgba(175, 161, 161, 0.8); /* Light shade background */
  padding: 10px; /* Add padding inside the background */
  margin-left: 30px;
}

.image-heading {
  margin-top: 10px;
  font-size: 20px;
  color: #333; /* Adjust color as needed */
  background: transparent;
}

.image-description {
  width: 90%;
  margin-top: 5px;
  font-size: 16px;
  color: #666; /* Adjust color as needed */
  background: transparent;
}

.image-wrapper button{
  background: #54be73;
  border: none;
  margin-bottom: 20px;
  color: white;
  padding: 0 5px;
  margin-left: 30px;
}

/* Media query for screens wider than 900px */
@media (min-width: 900px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for large screens */
    padding: 0 20px; /* Padding from left and right */
  }

  .image-wrapper {
    margin: 0 10px; /* Space between images */
  }
}
